@{
	Layout = "_LayoutCustomer";
}

<!-- Single Page Header start -->
@RenderSection("BreadCum", required: false)
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
	<div class="container py-5">
		<h1 class="mb-4">HSHOP 2023</h1>
		<div class="row g-4">
			<div class="col-lg-12">
				<div class="row g-4">
					<div class="col-xl-3">

						@await Html.PartialAsync("_TimKiemPanel")

					</div>
					<div class="col-6"></div>
					<div class="col-xl-3">
						<div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
							<label for="fruits">Default Sorting:</label>
							<select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
								<option value="volvo">Nothing</option>
								<option value="saab">Popularity</option>
								<option value="opel">Organic</option>
								<option value="audi">Fantastic</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row g-4">
					<div class="col-lg-3">
						<div class="row g-4">
							@await Component.InvokeAsync("MenuLoai")

							<div class="col-lg-12">
								<div class="mb-3">
									<h4 class="mb-2">Price</h4>
									<input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
									<output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="mb-3">
									<h4>Additional</h4>
									<div class="mb-2">
										<input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
										<label for="Categories-1"> Organic</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
										<label for="Categories-2"> Fresh</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
										<label for="Categories-3"> Sales</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
										<label for="Categories-4"> Discount</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
										<label for="Categories-5"> Expired</label>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<h4 class="mb-3">Featured products</h4>
								<div class="d-flex align-items-center justify-content-start">
									<div class="rounded me-4" style="width: 100px; height: 100px;">
										<img src="~/img/featur-1.jpg" class="img-fluid rounded" alt="">
									</div>
									<div>
										<h6 class="mb-2">Big Banana</h6>
										<div class="d-flex mb-2">
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="d-flex mb-2">
											<h5 class="fw-bold me-2">2.99 $</h5>
											<h5 class="text-danger text-decoration-line-through">4.11 $</h5>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-start">
									<div class="rounded me-4" style="width: 100px; height: 100px;">
										<img src="~/img/featur-2.jpg" class="img-fluid rounded" alt="">
									</div>
									<div>
										<h6 class="mb-2">Big Banana</h6>
										<div class="d-flex mb-2">
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="d-flex mb-2">
											<h5 class="fw-bold me-2">2.99 $</h5>
											<h5 class="text-danger text-decoration-line-through">4.11 $</h5>
										</div>
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-start">
									<div class="rounded me-4" style="width: 100px; height: 100px;">
										<img src="~/img/featur-3.jpg" class="img-fluid rounded" alt="">
									</div>
									<div>
										<h6 class="mb-2">Big Banana</h6>
										<div class="d-flex mb-2">
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star text-secondary"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="d-flex mb-2">
											<h5 class="fw-bold me-2">2.99 $</h5>
											<h5 class="text-danger text-decoration-line-through">4.11 $</h5>
										</div>
									</div>
								</div>
								<div class="d-flex justify-content-center my-4">
									<a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="position-relative">
									<img src="~/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
									<div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
										<h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="row g-4 justify-content-center">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fruits Shop End-->