<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta charset="utf-8">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
	<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link href="~/css/style.css" rel="stylesheet">
	@RenderSection("Styles", required: false)
</head>
<body>
	<div>
		<!-- Spinner Start -->
		<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
			<div class="spinner-grow text-primary" role="status"></div>
		</div>
		<!-- Spinner End -->
		<!-- Navbar start -->
		<div class="container-fluid fixed-top">
			<div class="container topbar bg-primary d-none d-lg-block">
				<div class="d-flex justify-content-between">
					<div class="top-info ps-2">
						<small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small>
						<small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
					</div>
					<div class="top-link pe-2">
						<a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
						<a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
						<a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
					</div>
				</div>
			</div>
			<div class="container px-0">
				<nav class="navbar navbar-light bg-white navbar-expand-xl">
					<a asp-action="Index" asp-controller="Home" class="navbar-brand"><h1 class="text-primary display-6">Fruitables</h1></a>
					<button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
						<span class="fa fa-bars text-primary"></span>
					</button>
					<div class="collapse navbar-collapse bg-white" id="navbarCollapse">
						<div class="navbar-nav mx-auto">
							<a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Home</a>
							<a asp-controller="HangHoa" asp-action="Index" class="nav-item nav-link">Shop</a>
							<div class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Member</a>
								<div class="dropdown-menu m-0 bg-secondary rounded-0">
									<a asp-controller="Cart" asp-action="Index" class="dropdown-item">Cart</a>
									@if (User.Identity.IsAuthenticated)
									{
										<a asp-controller="KhachHang" asp-action="Profile" class="dropdown-item">Profile</a>
										<a asp-controller="KhachHang" asp-action="DangXuat" class="dropdown-item">Logout</a>
									}
									else
									{
										<a asp-controller="KhachHang" asp-action="DangKy" class="dropdown-item">Đăng ký</a>
										<a asp-controller="KhachHang" asp-action="DangNhap" class="dropdown-item">Đăng nhập</a>
										<a asp-controller="KhachHang" asp-action="QuenMatKhau" class="dropdown-item">Quên mật khẩu</a>
									}
								</div>
							</div>
							<a href="contact.html" class="nav-item nav-link">Contact</a>
						</div>
						<div class="d-flex m-3 me-0">
							<button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>

							@await Component.InvokeAsync("Cart")

							@if (User.Identity.IsAuthenticated)
							{
								<a asp-controller="KhachHang" asp-action="Profile" title="Xem thông tin người dùng" class="my-auto">
									<i class="fas fa-user fa-2x"></i>
								</a>
							}
							else
							{
								<a asp-controller="KhachHang" asp-action="DangNhap" title="Đăng nhập nha" class="my-auto">
									<i class="fas fa-user fa-2x"></i>
								</a>
							}
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- Navbar End -->
		<!-- Modal Search Start -->
		<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-fullscreen">
				<div class="modal-content rounded-0">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body d-flex align-items-center">
						<div class="input-group w-75 mx-auto d-flex">
							<input id="searchText" type="search" class="form-control p-3" placeholder="keywords" aria-describedby="seachButton">
							<span id="seachButton" class="input-group-text p-3"><i class="fa fa-search"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal Search End -->

		<div style="min-height:400px;" class="hero-header">
			@RenderBody()
		</div>

		@await Html.PartialAsync("_Footer")

		@await Html.PartialAsync("_Copyright")
	</div>

	<!-- Back to Top -->
	<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


	<!-- JavaScript Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/easing/easing.min.js"></script>
	<script src="~/lib/waypoints/waypoints.min.js"></script>
	<script src="~/lib/lightbox/js/lightbox.min.js"></script>
	<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Template Javascript -->
	<script src="~/js/main.js"></script>
	@RenderSection("Scripts", required: false)

	<script>
		$(document).ready(function () {
			$("#seachButton").click(function () {
				let url = `/HangHoa/Search?query=` + $("#searchText").val();
				window.location.href = url;
			});
		});
	</script>
</body>
</html>
