@model IEnumerable<ECommerceMVC.ViewModels.CartItem>
@{
	ViewData["Title"] = "Checkout";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Checkout</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Checkout</li>
	</ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
	<div class="container py-5">
		<h1 class="mb-4">Billing details</h1>
		<form asp-action="Checkout" asp-controller="Cart">
			<div class="row g-5">
				<div class="col-md-12 col-lg-6 col-xl-7">
					<div class="form-check my-3">
						<input type="checkbox" name="GiongKhachHang" class="form-check-input" id="GiongKhachHang" value="false">
						<label class="form-check-label" for="GiongKhachHang">Giống thông tin khách hàng?</label>
					</div>
					<div class="form-item delivery-info">
						<label class="form-label my-3">Người nhận hàng<sup>*</sup></label>
						<input type="text" name="HoTen" class="form-control">
					</div>
					<div class="form-item delivery-info">
						<label class="form-label my-3">Địa chỉ nhận hàng<sup>*</sup></label>
						<input type="text" name="DiaChi" class="form-control" placeholder="123 Lê Lợi, Quận 1">
					</div>
					<div class="form-item delivery-info">
						<label class="form-label my-3">Điện thoại<sup>*</sup></label>
						<input type="text" name="DienThoai" class="form-control">
					</div>
					<div class="form-item mt-3">
						<textarea name="GhiChu" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Ghi chú"></textarea>
					</div>
					<input type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Đặt hàng (COD)">
					<input type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Thanh toán VNPay">
					<div id="paypal-button-container" class="form-item mt-3" style="max-width:1000px;"></div>
				</div>
				<div class="col-md-12 col-lg-6 col-xl-5">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Products</th>
									<th scope="col">Name</th>
									<th scope="col">Price</th>
									<th scope="col">Quantity</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<th scope="row">
											<div class="d-flex align-items-center mt-2">
												<img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="@item.TenHH">
											</div>
										</th>
										<td class="py-5">@item.TenHH</td>
										<td class="py-5">$@item.DonGia</td>
										<td class="py-5">@item.SoLuong</td>
										<td class="py-5">@item.ThanhTien</td>
									</tr>
								}
								<tr>
									<th scope="row">
									</th>
									<td class="py-5"></td>
									<td class="py-5"></td>
									<td class="py-5">
										<p class="mb-0 text-dark py-3">Subtotal</p>
									</td>
									<td class="py-5">
										<div class="py-3 border-bottom border-top">
											<p class="mb-0 text-dark">$@Model.Sum(p => p.ThanhTien).ToString("#,##0.00")</p>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">
									</th>
									<td class="py-5">
										<p class="mb-0 text-dark py-4">Shipping</p>
									</td>
									<td colspan="3" class="py-5">
										<div class="form-check text-start">
											<input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
											<label class="form-check-label" for="Shipping-1">Free Shipping</label>
										</div>
										<div class="form-check text-start">
											<input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
											<label class="form-check-label" for="Shipping-2">Flat rate: $15.00</label>
										</div>
										<div class="form-check text-start">
											<input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
											<label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">
									</th>
									<td class="py-5">
										<p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
									</td>
									<td class="py-5"></td>
									<td class="py-5"></td>
									<td class="py-5">
										<div class="py-3 border-bottom border-top">
											<p class="mb-0 text-dark">$135.00</p>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
						<div class="col-12">
							<div class="form-check text-start my-3">
								<input type="checkbox" class="form-check-input bg-primary border-0" id="Transfer-1" name="Transfer" value="Transfer">
								<label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
							</div>
							<p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
						</div>
					</div>
					<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
						<div class="col-12">
							<div class="form-check text-start my-3">
								<input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1" name="Payments" value="Payments">
								<label class="form-check-label" for="Payments-1">Check Payments</label>
							</div>
						</div>
					</div>
					<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
						<div class="col-12">
							<div class="form-check text-start my-3">
								<input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
								<label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
							</div>
						</div>
					</div>
					<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
						<div class="col-12">
							<div class="form-check text-start my-3">
								<input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal" value="Paypal">
								<label class="form-check-label" for="Paypal-1">Paypal</label>
							</div>
						</div>
					</div>
					<div class="row g-4 text-center align-items-center justify-content-center pt-4">
						<button type="button" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Checkout Page End -->
@section Scripts {
	<script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientdId"></script>
	<script>
		$(document).ready(function () {
			$("#GiongKhachHang").change(function () {
				if ($(this).prop("checked")) {
					$(this).val(true);
					$(".delivery-info").addClass("d-none");
				} else {
					$(this).val(false);
					$(".delivery-info").removeClass("d-none");
				}
			});
		});

		paypal.Buttons({
			style: {
				layout: 'vertical',
				color: 'silver',
				tagline: 'false'
			},
			createOrder: (data, actions) => {
				return fetch("/Cart/create-paypal-order", {
					method: "post",
				}).then((response) => {
					if (!response.ok) {
						return response.json().then(error => { throw error; });
					}

					return response.json();
				}).then((order) => order.id)
				.catch(error => alert(error.message));
			},
			onApprove: (data, actions) => {
				return fetch(`/Cart/capture-paypal-order?orderId=${data.orderID}`, {
					method: "post",
				}).then((response) => {
					if (!response.ok) {
						return response.json().then(error => { throw error; });
					}

					//Đổi địa chỉ tới action thông báo thành công
					window.location.href = "/Cart/PaymentSuccess";
				}).catch(error => alert(error.message));
			}
		}).render('#paypal-button-container');
	</script>
}