@model ECommerceMVC.ViewModels.CartModel

<a asp-controller="Cart" asp-action="Index" class="position-relative me-4 my-auto">
	<i class="fa fa-shopping-bag fa-2x"></i>
	<span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">@Model.Quantity</span>
</a>